{% extends 'base.html' %}

{% block title %}
<title>Encode your URL</title>
{% endblock %}

{% block content%}

<div class="header">
  <h2>Shorten Your URL</h2>
  <p class="note">Use this search field to create a shortened URL.</p>
  <p class="note">Enter the full URL, including things like 'https://' or 'http://'.</p>
  <br /><br />
</div>
<form method="POST">
  <label for="url-input">URL: </label>
    <input type="text" placeholder="Enter URL here..." name="url-input" id="url-input" />
    <br /><br />
  <label for="nickname-input">Nickname: </label>
    <input type="text" placeholder="Enter nickname here..." name="nickname-input" id="nickname-input" />
  <button type="submit" class="short-button">Shorten</button>
</form>
<br /><br />
{{data}}
{% if status %}
<p>ERROR CODE: {{ status }}. PLEASE REVIEW ERROR ON THE DOCUMENTATION <a target="_blank" href="https://cutt.ly/api-documentation/cuttly-links-api">HERE</a></p>
{% elif nameerror %}
<h4>{{ nameerror }}</h4>
{% endif %}

{% endblock %}